body {
    max-width: 1280px;
    margin: auto;
    font-family: "Open Sans";
}

header {
    text-align: center;
    background-image: url("images/header.jpg");
    background-position: 0% 60%;
    background-size: 1280px 720px;
    color: white;

}

header h2 {
    font-size: 3em;
    margin: 0;
    -webkit-text-stroke: 1px black;
    padding: 0.5em 0 1em 0;
}

header h3 {
    font-size: 3em;
    -webkit-text-stroke: 1px black;
    margin: 0;
    padding: 3em 0 3em 0;
    font-weight: 500;
}

header h4 {
    font-size: 2em;
}

.author {
    text-align: center;
}

.author img {
    border-radius: 50%;
    margin-top: -50px;
    border: 5px solid white;
}

address a {
    color: grey;
}

main {
    width: 70%;
    /* main element ist nur 70% von max-width: 1280px des bodys */
    margin: auto;
}

main figure {
    margin-right: 0;
    margin-left: 0;
}

main figcaption {
    float: right;
    margin-left: -12em;
    width: 11.5em;
    color: grey;
    font-size: 0.75em;
}

#map {
    height: 360px;
    width: 90%;
    border: 1px solid black;
}

.back {
    float: left;
}

.next {
    float: right;
}

footer {
    padding: 1em 0 3em 0;
}

p.intro {
    font-style: italic;
}

@media only screen and (max-width: 1000px) {
    main figure figcaption {
        float: none;
        margin-left: 0;
        width: auto;
    }
}

/* überschreiben des elements */

a.textlinks {
    color: black;
    font-style: italic;
}

p.Adlerblick {
    float: left;
    width: 50%;
}

figure.Gschoellkopf {
    float: right;
    width: 50%;
}

main figure img {
    width: 50%;
    margin: 0 4em 0 4em;
}

.figcaptionlinks {
    color: grey;
    font-style: italic;
}